:root {
    --dark-color: #0F1820;
    --light-color: #F1E6E1;
    --light-color-2: #d9d9d9;
    --light-color-green: #A3CD8B;
    --gap: 24px;
    --menu-top-position: 32px;
    --menu-right-postion: 24px;
    --menu-height: 80px;
    --padding-inline: 64px;
}

@media (max-width: 980px) {
    :root {
        --menu-height: 64px;
        --padding-inline: 24px;

    }

}

@font-face {
    font-family: Kalameh-Light;
    src: url(./fonts/KalamehWeb-Light.woff);
}

@font-face {
    font-family: Kalameh-Regular;
    src: url(./fonts/KalamehWeb-Regular.woff);
}

@font-face {
    font-family: Kalameh-Medium;
    src: url(./fonts/KalamehWeb-Medium.woff);
}

@font-face {
    font-family: Kalameh-SemiBold;
    src: url(./fonts/KalamehWeb-SemiBold.woff);
}

@font-face {
    font-family: Kalameh-Bold;
    src: url(./fonts/KalamehWeb-Bold.woff);
}