@import url(./base.css);

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Kalameh-Regular;
    overflow-x: hidden;
    width: 100%;
    color: #000;
}

div#app>main>section:not(.no-padding) {
    padding-inline: var(--padding-inline);
}

div#app>main {
    min-height: 100vh;
}

body {
    background: var(--light-color);
}

button,
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 48px;
    border: none;
    font-family: Kalameh-Medium;
    font-size: 18px;
    text-decoration: none;
    transition: .3s;
    @media (min-width:980px) {
        cursor: pointer;
    }
}

.button>span,
button>span {
    padding-top: 5px;
}
button:not(.btn-secondary):hover,.button:not(.btn-secondary):hover{
    box-shadow: inset 0 0 10px var(--dark-color);
    color: #fff;
}

button:not(.no-button-appearance),
.button {
    border-radius: 30px;
    padding-inline: var(--gap);
    background-color: var(--light-color-green);
    color: var(--dark-color);
}

.btn-secondary {
    color: var(--light-color-green) !important;
    background: transparent !important;
    border: 2px solid var(--light-color-green);
}
.btn-secondary:hover{
    background: var(--light-color-green) !important;
    color: #fff !important;
}
.vue-tel-input {
    direction: ltr;
    color: #000;
    border: none !important;
}

.vti__dropdown {
    border: 1px solid #fff;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-radius: 12px;
}

footer form input:not([type="checkbox"]):not([type="radio"]),
footer form select,
footer form textarea {
    border: 1px solid var(--light-color-2);
    background: none;
    border-radius: 12px;
    height: 64px !important;
    width: 100%;
    color: #fff;
    font-family: Kalameh-Regular;
    font-size: 16px;
}

.vue-tel-input input[type=tel] {
    border-left: none !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.page-title {
    font-size: 48px;
    font-family: Kalameh-SemiBold;
    margin: 0;
}
.product-name{
    font-family: Kalameh-SemiBold;
}
.attention{
    font-size: 24px;
    font-family: Kalameh-Medium;
}
table{
    width: 100%;
    border-collapse:collapse ;
}
table > thead {
    background: var(--dark-color);
    color: var(--light-color-green);
}
table > thead th{
    font-weight: normal;
    font-size: 20px;
    height: 64px;
}
table > thead th:first-of-type{
    border-start-start-radius: 40px;
    border-end-start-radius: 40px;
}
table > thead th:last-of-type{
    border-start-end-radius: 40px;
    border-end-end-radius: 40px;
}
table > tbody tr:not(:last-of-type){
    border-bottom: 1px solid;
}
table > tbody td{
    text-align: center;
    padding-block: var(--gap);
    font-size: 20px;
}